:root {
	--main-purple: #635FC7;
	--main-purple-hover: #A8A4FF;
	--black: #000112;
	--very-dark-grey: #20212C;
	--dark-grey: #2B2C37;
	--lines-dark: #3E3F4E;
	--medium-grey: #828FA3;
	--lines-light: #E4EBFA;
	--light-grey: #F4F7FD;
	--white: #FFFFFF;
	--red: #EA5555;
	--red-hover: #FF9898;
	
	--board-spacing: 2rem;
}

@font-face {
	font-family: 'PlusJakartaSans-Bold';
	src: url("./assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'PlusJakartaSans-Medium';
	src: url("./assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
}

p {
	font-family: 'PlusJakartaSans-Medium';
	font-size: 13px;
}

p .bold {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 12px;
}

h1 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 24px;
}

h2 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 18px;
}

h3 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 15px;
}

h4 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 12px;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--light-grey);
	margin: 0;
}

#main {
	height: 100%;
}

#sidebar {
	display: inline-block;
	height: 100%;
	background-color: var(--white);
	padding-inline-end: var(--board-spacing);
}

#logo {
	margin-block-start: var(--board-spacing);
	margin-block-end: 2.5rem;
	margin-inline-start: var(--board-spacing);
}

#board-header {
	margin-inline-start: var(--board-spacing);
	letter-spacing: .3ch;
	color: var(--medium-grey);
}

.board-selector {
	display: flex;
	align-items: center;
	width: 16rem;
	border-end-end-radius: 3ch;
	border-start-end-radius: 3ch;
}

.board-selector:hover {
	background-color: var(--main-purple-hover);
}

.board-selector:hover p {
	color: var(--white);
}

.board-selector img {
	margin-inline-start: var(--board-spacing);
	margin-inline-end: 1rem;
}

.selected-board {
	background-color: var(--main-purple) !important;
	color: var(--white);
}