:root {
	--main-purple: #635FC7;
	--main-purple-light: rgba(99, 95, 199, .1);
	--main-purple-hover: #A8A4FF;
	--black: #000112;
	--very-dark-grey: #20212C;
	--dark-grey: #2B2C37;
	--lines-dark: #3E3F4E;
	--medium-grey: #828FA3;
	--lines-light: #E4EBFA;
	--light-grey: #F4F7FD;
	--white: #FFFFFF;
	--red: #EA5555;
	--red-hover: #FF9898;
	--dark-overlay: rgba(0, 0, 0, .60);

	--board-spacing: 1rem;
	--board-name-spacing: 1.5rem;
}

@font-face {
	font-family: 'PlusJakartaSans-Bold';
	src: url("./assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'PlusJakartaSans-Medium';
	src: url("./assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
}

p {
	font-family: 'PlusJakartaSans-Medium';
	font-size: 13px;
	line-height: 23px;
}

p .bold {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 12px;
	line-height: 15px;
}

h1 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 24px;
	line-height: 30px;
}

h2 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 18px;
	line-height: 23px;
}

h3 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 15px;
	line-height: 19px;
}

h4 {
	font-family: 'PlusJakartaSans-Bold';
	font-size: 12px;
	line-height: 15px;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--light-grey);
	margin: 0;
}

#main {
	display: flex;
	flex-flow: column;
	height: 100%;
}

/* SIDEBAR START */

#sidebar {
	display: flex;
	position: relative;
	align-items: center;
	background-color: var(--white);
	padding: var(--board-spacing);
}

#logo {
	margin-inline-end: var(--board-spacing);
}

#board-header {
	color: var(--black);
}

#board-chevron {
	margin-inline-start: 1ch;
}

#add-task-btn {
	padding-block: 1.5ch;
	padding-inline: 1.3rem;
	border-radius: 3ch;
	background: var(--main-purple);
	margin-inline-start: auto;
	margin-inline-end: var(--board-spacing);
}

/* SIDEBAR > */
/* BOARD DISPLAY START */

#board-header-container {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: calc(100vh - (2rem + 26px + 1.66em));
	display: flex;
	justify-content: center;
	background-color: var(--dark-overlay);
}

#board-header-list {
	display: inline-block;
	background-color: var(--white);
	border-radius: 1ch;
	color: var(--medium-grey);
	padding-block: var(--board-spacing);
	height: fit-content;
	margin-block-start: 1rem;
}

#board-list-title {
	letter-spacing: 2px;
	margin-inline-start: var(--board-name-spacing);
	margin-block-start: 0;
}

.board-name {
	display: flex;
	align-items: center;
	padding-inline-start: var(--board-name-spacing);
	margin-inline-end: 1.5rem;
	padding-inline-end: 2rem;
	padding-block: .3ch;
	border-start-end-radius: 3ch;
	border-end-end-radius: 3ch;
}

.board-name:hover {
	background-color: var(--main-purple-hover);
}

.board-name img {
	margin-inline-end: var(--board-spacing);
}

.board-name h3 {
	margin-block: 1ch;
}

.board-name-selected {
	background-color: var(--main-purple);
	color: var(--white);
}

#create-board-btn {
	background-color: var(--white) !important;
	color: var(--main-purple) !important;
}

#create-new-board-icon {
	width: 1ch;
	margin-inline-end: .3ch;
}

#theme-container {
	display: flex;
	justify-content: center;
	background-color: var(--light-grey);
	margin-block-start: var(--board-spacing);
	margin-inline: var(--board-spacing);
	padding-block: 1ch;
	border-radius: 1ch;
}

#theme-container img {
	margin-inline: 1.5rem;
}

#theme-switch {
	position: relative;
	margin-inline-end: 5ch;
}

#theme-switch label {
	width: 5ch;
	height: 2.4ch;
	background-color: var(--main-purple);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3ch;
}

#theme-switch input {
	display: none;
}

#theme-switch label:after {
	content: '';
	width: 1.5ch;
	height: 1.5ch;
	border-radius: 50%;
	position: absolute;
	top: .45ch;
	left: .45ch;
	transition: 100ms;
	background-color: var(--white);
}

#theme-switch input:checked+label:after {
	left: 3.05ch;
}

#sidebar-toggler {
	display: none;
}

/* BOARD DISPLAY END */

#show-sidebar-btn {
	background-color: var(--main-purple);
	position: absolute;
	bottom: 2rem;
	padding: 1rem;
	padding-inline-end: 1.5rem;
	border-start-end-radius: 3ch;
	border-end-end-radius: 3ch;
	cursor: pointer;
}

#show-sidebar-btn:hover {
	background-color: var(--main-purple-hover);
}

/* SIDEBAR END */
/* TOPBAR START */

#topbar-container {
	display: none;
	width: 100%;
	background-color: var(--white); 
	border-block-end: .3ch solid var(--lines-light);
}

#logo-divider {
	height: 100%;
	align-items: center;
	border-inline-end: .3ch solid var(--lines-light);
	padding-inline: 1.5rem;
}

/* TOPBAR END */
/* KANBAN START */

#content-container {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#kanban-container {
	display: flex;
	flex-flow: row;
	height: 100%;
	overflow: auto;
}

.kanban-col {
	margin-inline-start: 1rem;
}

.kanban-col h4 {
	display: flex;
	align-items: center;
	color: var(--medium-grey);
}

.kanban-col h4 div {
	width: 1.3ch;
	height: 1.3ch;
	border-radius: 50%;
	background-color: #49C4E5;
	margin-inline-end: 1ch;
}

.kanban-row {
	background-color: var(--white);
	width: 18rem;
	padding-inline: 1rem;
	padding-block: .5rem;
	margin-block-end: 1rem;
	border-radius: 1.5ch;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, .1);
}

.kanban-row h3 {
	color: var(--black);
}

.kanban-row p {
	color: var(--medium-grey);
}

#add-new-col-btn {
	display: none;
	flex-flow: column;
	align-items: center;
	align-self: center;
	margin-inline: auto;
}

#add-new-col-btn h2 {
	max-width: 20rem;
	text-align: center;
	color: var(--medium-grey);
}

#add-new-col-btn button {
	border: none;
	background-color: var(--main-purple);
	color: var(--white);
	padding-block: 1.5ch;
	padding-inline: 1rem;
	border-radius: 3ch;
}

#add-new-col-btn button img {
	width: 1ch;
	margin-inline-end: .5ch;
}

/* KANBAN END */
/* NEW BOARD START */

#new-board-container, #new-task-container {
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark-overlay);
}

#new-board-list, #new-task-list {
	display: flex;
	flex-flow: column;
	background-color: var(--white);
	padding: var(--board-spacing);
	margin-inline: var(--board-spacing);
	border-radius: 1ch;
}

#new-board-list h3, #new-task-list h3 {
	margin-block-end: 0;
}

#new-board-list h4, #new-task-list h4 {
	color: var(--medium-grey);
	font-size: 10px;
	margin-block-end: 1ch;
	margin-block-start: 1.5rem;
}

#new-board-list div, #new-task-list div {
	display: flex;
	align-items: center;
}

#new-board-list div + div, #new-task-list div + div {
	margin-block: 1ch;
}

#new-board-list input, #new-task-list input, #new-task-list textarea {
	border: 2px solid var(--light-grey);
	color: var(--black);
	padding-inline: 1rem;
	padding-block: 1ch;
	width: 100%;
}

#new-board-list input::placeholder, #new-task-list input::placeholder, #new-task-list textarea::placeholder {
	color: var(--medium-grey);
}

.board-col-delete-btn, .task-col-delete-btn {
	margin-inline-start: 1rem;
}

#new-board-list button, #new-task-list button {
	border-radius: 3ch;
	padding-block: 1.5ch;
	border: none;
}

#new-board-list button + button, #new-task-list button + button {
	margin-block-start: 1.5rem;
}

#add-column-btn, #add-subtask-btn {
	background-color: var(--main-purple-light);
	color: var(--main-purple);
	font-family: 'PlusJakartaSans-Bold';
	font-size: 12px;
}

#add-column-btn img, #add-subtask-btn img {
	width: .9ch;
	margin-inline-end: .3ch;
}

#add-subtask-btn + h4 {
	margin-block-start: 1.5rem;
}

#add-board-btn, #new-task-btn {
	background-color: var(--main-purple);
	color: var(--white);
	font-family: 'PlusJakartaSans-Bold';
	font-size: 12px;
}

#new-task-btn {
	margin-block-start: 1.5rem;
}

/* NEW BOARD END */
/* NEW TASK START */

/* NEW TASK END */

@media only screen and (min-width: 670px) {
	#main {
		flex-flow: row;
	}

	#sidebar {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		width: fit-content;
		height: 100%;
		padding: 0;
		border-inline-end: .3ch solid var(--lines-light);
	}

	#logo {
		margin-inline-start: 1.5rem;
		margin-block: 2rem;
	}

	#board-header {
		display: none;
	}

	#board-chevron {
		display: none;
	}

	#add-task-btn {
		display: none;
	}

	#board-settings {
		display: none;
	}

	#board-header-container {
		position: relative !important;
		display: flex !important;
		top: 0;
		left: 0;
		height: 100%;
		background: none;
	}

	#board-header-list {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		height: 100%;
		margin-block-start: 0;
	}

	.board-name {
		justify-content: flex-start;
		width: 15rem;
		cursor: pointer;
	}

	#theme-container {
		margin-block-start: auto;
		margin-inline: 1rem;
		align-self: center;
		width: 90%;
	}

	#sidebar-toggler {
		display: flex;
		align-items: center;
		margin-inline-start: 1.5rem;
		cursor: pointer;
	}

	#sidebar-toggler img {
		margin-inline-end: 1rem;
	}

	#topbar-container {
		display: flex;
		align-items: center;
		height: fit-content;
	}

	#topbar-container h1 {
		margin-inline-start: 1.5rem;
	}

	#topbar-container button {
		margin-inline-start: auto;
		border: none;
		background-color: var(--main-purple);
		color: var(--white);
		padding-block: 1.5ch;
		padding-inline: 1rem;
		border-radius: 3ch;
		margin-inline-end: 1rem;
		margin-block: 1.6rem;
	}

	#topbar-container button img {
		width: 1ch;
		margin-inline-end: .5ch;
	}

	#topbar-container img {
		margin-inline-end: 2ch;
	}

	#new-board-container, #new-task-container {
		display: flex;
		align-items: center;
	}

	#new-board-list, #new-task-list {
		width: 25rem;
	}
}